<?xml version="1.0"?>
<config>
    <modules>
        <CornerDrop_Collect>
            <version>1.2.1</version>
        </CornerDrop_Collect>
    </modules>
    <global>
        <blocks>
            <cornerdrop_collect>
                <class>CornerDrop_Collect_Block</class>
            </cornerdrop_collect>
        </blocks>
        <helpers>
            <cornerdrop_collect>
                <class>CornerDrop_Collect_Helper</class>
            </cornerdrop_collect>
        </helpers>
        <models>
            <cornerdrop_collect>
                <class>CornerDrop_Collect_Model</class>
            </cornerdrop_collect>
        </models>
        <events>
            <admin_system_config_changed_section_cornerdrop_collect>
                <observers>
                    <cornerdrop_collect>
                        <type>singleton</type>
                        <class>cornerdrop_collect/observer</class>
                        <method>checkAccountStatus</method>
                    </cornerdrop_collect>
                </observers>
            </admin_system_config_changed_section_cornerdrop_collect>
            <controller_action_predispatch_checkout_onepage_saveBilling>
                <observers>
                    <cornerdrop_collect>
                        <type>singleton</type>
                        <class>cornerdrop_collect/observer</class>
                        <method>setCornerDropCollectFlag</method>
                    </cornerdrop_collect>
                </observers>
            </controller_action_predispatch_checkout_onepage_saveBilling>
            <controller_action_predispatch_checkout_onepage_saveShipping>
                <observers>
                    <cornerdrop_collect>
                        <type>singleton</type>
                        <class>cornerdrop_collect/observer</class>
                        <method>makeCornerDropCollectReservation</method>
                    </cornerdrop_collect>
                </observers>
            </controller_action_predispatch_checkout_onepage_saveShipping>
            <customer_address_format>
                <observers>
                    <cornerdrop_collect>
                        <type>singleton</type>
                        <class>cornerdrop_collect/observer</class>
                        <method>addCustomerAddressTemplate</method>
                    </cornerdrop_collect>
                </observers>
            </customer_address_format>
            <paypal_prepare_line_items>
                <observers>
                    <cornerdrop_collect>
                        <type>singleton</type>
                        <class>cornerdrop_collect/observer</class>
                        <method>addTotalToPaypal</method>
                    </cornerdrop_collect>
                </observers>
            </paypal_prepare_line_items>
        </events>
        <sales>
            <quote>
                <totals>
                    <cornerdrop_fee>
                        <class>cornerdrop_collect/sales_quote_address_total_cornerDrop_fee</class>
                        <after>tax</after>
                    </cornerdrop_fee>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <cornerdrop_fee>
                        <class>cornerdrop_collect/sales_order_invoice_total_cornerDrop_fee</class>
                        <after>tax</after>
                    </cornerdrop_fee>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <cornerdrop_fee>
                        <class>cornerdrop_collect/sales_order_creditmemo_total_cornerDrop_fee</class>
                        <after>tax</after>
                    </cornerdrop_fee>
                </totals>
            </order_creditmemo>
        </sales>
        <fieldsets>
            <sales_convert_quote_address>
                <is_cornerdrop_collect>
                    <to_order_address>*</to_order_address>
                </is_cornerdrop_collect>
                <cornerdrop_store_id>
                    <to_order_address>*</to_order_address>
                </cornerdrop_store_id>
                <cornerdrop_reservation_code>
                    <to_order_address>*</to_order_address>
                </cornerdrop_reservation_code>
                <cornerdrop_fee_amount>
                    <to_order>*</to_order>
                </cornerdrop_fee_amount>
                <base_cornerdrop_fee_amount>
                    <to_order>*</to_order>
                </base_cornerdrop_fee_amount>
                <cornerdrop_tax_amount>
                    <to_order>*</to_order>
                </cornerdrop_tax_amount>
                <base_cornerdrop_tax_amount>
                    <to_order>*</to_order>
                </base_cornerdrop_tax_amount>
            </sales_convert_quote_address>
        </fieldsets>
        <resources>
            <cornerdrop_collect_setup>
                <setup>
                    <module>CornerDrop_Collect</module>
                    <class>CornerDrop_Collect_Model_Resource_Setup</class>
                </setup>
            </cornerdrop_collect_setup>
        </resources>
        <template>
            <email>
                <cornerdrop_collect_settings_code_email_template>
                    <label>CornerDrop Collect Code</label>
                    <file>cornerdrop/collect/code.html</file>
                    <type>html</type>
                </cornerdrop_collect_settings_code_email_template>
            </email>
        </template>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <cornerdrop_collect before="Mage_Adminhtml">CornerDrop_Collect_Adminhtml</cornerdrop_collect>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <cornerdrop_collect>
                    <file>cornerdrop/collect.xml</file>
                </cornerdrop_collect>
            </updates>
        </layout>
        <events>
            <adminhtml_sales_order_create_process_data>
                <observers>
                    <cornerdrop_collect>
                        <type>singleton</type>
                        <class>cornerdrop_collect/observer</class>
                        <method>setAdminCornerDropCollectFlagAndReserve</method>
                    </cornerdrop_collect>
                </observers>
            </adminhtml_sales_order_create_process_data>
        </events>
    </adminhtml>
    <frontend>
        <routers>
            <cornerdrop_collect>
                <use>standard</use>
                <args>
                    <module>CornerDrop_Collect</module>
                    <frontName>cornerdrop_collect</frontName>
                </args>
            </cornerdrop_collect>
        </routers>
        <layout>
            <updates>
                <cornerdrop_collect>
                    <file>cornerdrop/collect.xml</file>
                </cornerdrop_collect>
            </updates>
        </layout>
    </frontend>
    <crontab>
        <jobs>
            <cornerdrop_collect_account_status_check>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>cornerdrop_collect/observer::checkAccountStatus</model>
                </run>
            </cornerdrop_collect_account_status_check>
            <cornerdrop_collect_send_notifications>
                <schedule>
                    <cron_expr>*/15 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>cornerdrop_collect/cron::sendNotifications</model>
                </run>
            </cornerdrop_collect_send_notifications>
        </jobs>
    </crontab>
    <default>
        <cornerdrop_collect>
            <settings>
                <active>0</active>
                <code_email_template>cornerdrop_collect_code_email_template</code_email_template>
                <api_uri>https://api.cornerdrop.com/papi/</api_uri>
            </settings>
            <address_templates>
                <text><![CDATA[
{{depend is_cornerdrop_collect}}(CornerDrop address){{/depend}}]]></text>
                <oneline><![CDATA[{{depend is_cornerdrop_collect}} (CornerDrop address){{/depend}}]]></oneline>
                <html><![CDATA[{{depend is_cornerdrop_collect}}<br/>(CornerDrop address){{/depend}}]]></html>
                <pdf><![CDATA[{{depend is_cornerdrop_collect}}<br/>(CornerDrop address){{/depend}}]]></pdf>
            </address_templates>
        </cornerdrop_collect>
    </default>
    <phpunit>
        <suite>
            <modules>
                <CornerDrop_Collect/>
            </modules>
        </suite>
    </phpunit>
</config>
